Stwórz ścieżkę / która zwracać będzie "Hello, World!". Tak po prostu :)

Stwórz ścieżkę /now która będzie zwracać dzisiejszą datę i godzinę:

Ważne jest prawidłowe sformatowanie wartości zwracanej przez funkcję endpointu.
Użyj formatu identycznego do tego: 2018-03-07 15:37:58.610113. Godzinę podaj w UTC.
Stwórz ścieżkę /user-agent która zwróci informacje o user agencie użytkownika.

Wykorzystaj informacje o requeście podawane przez flask.
Format wymagany: {device-type} / {os} / {browser}, np: PC / Linux / Chrome 64.0.3282
Nie wymyślaj koła od nowa ;-)
Stwórz ścieżkę /counter która zliczać będzię odwiedziny tej ścieżki.

W tym zadaniu ważne jest aby znaleźć miejsce w którym będzie można zapisać ilość odwiedzin od ostatniego uruchomienia aplikacji na serwerze
na tym etapie kursu nie bawimy się w bazy danych
być może spostrzeżesz bardzo ciekawe zachowanie ;-)